// Global, we want all menus to look like this.
ul.dropdown-menu
	box-shadow: $dropdown-box-shadow
	top: 95% // So there is less gap between the dropdown and the item.

	> li
		&:first-child > a
			padding-top: ($dropdown-item-padding-y * 1.5)
		&:last-child > a
			padding-bottom: ($dropdown-item-padding-y * 1.5)

		> a
			padding-top: $dropdown-item-padding-y
			padding-bottom: $dropdown-item-padding-y

	.dropdown-divider
		margin: 0

	.dropdown-item:last-child
		border-bottom-left-radius: $border-radius
		border-bottom-right-radius: $border-radius

// Open dropdown on mouse hover dropdowns in the navbar.
nav .dropdown:hover
	ul.dropdown-menu
		display: block
