.timeline
    .jumbotron
        padding-top: 6em
        padding-bottom: 6em

        *
            font-size: $h1-font-size

        .lead
            font-size: $font-size-base
    .h5
        text-align: right
        background: $body-bg
        opacity: 0.8
        margin-right: -15px
        margin-left: -15px
        padding-right: 15px
    .sticky-top
        top: 2.5rem

body.is-mobile
        .timeline
            .js-asset-list
                @extend .card-deck-vertical