.timeline
	.group
		opacity: 0
		animation: fade-in 500ms forwards

	.group-date
		color: rgba($color-text, .4)

	.group-title
		@extend .border-bottom
		@extend .bg-white
		@extend .text-uppercase
		@extend .font-weight-bold
		a
			color: $color-text

body.homepage
	.timeline
		.sticky-top
			top: 2.5rem

body.is-mobile
	.timeline
		.js-asset-list
			@extend .card-deck-vertical
