.DS_Store
.project
.coverage
*.pyc
*.sublime*
*.ropeproject*
*.swp

config_local.py

.ropeproject/*

/build
/.cache
/.pytest_cache/
*.egg-info/
profile.stats
/dump/
/.eggs

/node_modules
/.sass-cache
*.css.map
*.js.map

/translations/*/LC_MESSAGES/*.mo

pillar/web/static/assets/css/*.css
pillar/web/static/assets/js/*.min.js
pillar/web/static/assets/js/vendor/video.min.js
pillar/web/static/storage/
pillar/web/static/uploads/
pillar/web/templates/
