.DS_Store
.project
.coverage
*.pyc
*.sublime*
*.ropeproject*
*.swp

/pillar/config_local.py

.ropeproject/*

/pillar/application/static/storage/
/build
/.cache
/pillar/pillar.egg-info/
/pillar/google_app.json
profile.stats
