#settings-sidebar
	.settings-header
		.settings-title Settings
	.settings-content
		ul
			a(class="{% if title == 'profile' %}active{% endif %}",
				href="{{ url_for('settings.profile') }}")
				li
					i.pi-vcard
					| Profile
