| {% extends 'layout.html' %}
| {% block head %}
style(type='text/css').
	button#recheck_subscription {
		margin-top: 1em;
	}
| {% endblock %}
| {% block body %}
.container
	#settings
		include _sidebar
		#settings-container
			.settings-header
				.settings-title Subscription

			.settings-content

				| {% if store_user['cloud_access'] %}
				h3.subscription-active
					i.pi-check
					|  Your subscription is active
				h4 Thank you for supporting us!

				hr

				p Subscription expires on: <strong>{{ store_user['expiration_date'][:10] }}</strong>
				a(href="https://store.blender.org/my-account/subscriptions/") Manage your subscription on Blender Store
				| {% else %}

				| {% if 'demo' in groups %}
				h3.subscription-demo
					i.pi-heart-filled
					| You have a free account

				hr

				p You have full access to the Blender Cloud, provided by the Blender Institute. This account is meant for free evaluation of the service. Get in touch with #[a(href="mailto:cloudsupport@blender.org") cloudsupport@blender.org] if you have any questions.

				| {% else %}
				h3.subscription-missing
					i.pi-info
					| You do not have an active subscription.
				h3
					a(href="https://store.blender.org/product/membership/") Get full access to Blender Cloud now!
				| {% endif %}

				| {% endif %}

				p
					button#recheck_subscription.btn.btn-default(onclick="javascript:recheck_subscription(this)") Re-check my subscription
				hr


script.
	function recheck_subscription(button) {
		$(button).text('Checking');

		$.get('/api/bcloud/update-subscription')
		.done(function() {
			window.location.reload();
		})
		.fail(function() {
			alert('Unable to update subscription, please check your internet connection.');
		})
		;
	}

| {% endblock %}
