| {% extends 'layout.html' %}
| {% block body %}
.container
	#settings
		include _sidebar
		#settings-container
			.settings-header
				.settings-title Emails

			.settings-content

				.settings-form
					form#settings-form(method='POST', action="{{url_for('users.settings_emails')}}")
						| {{ form.csrf_token }}
						| {% for subfield in form.email_communications %}
						.form-group.
							{{ subfield }}
							{{ subfield.label }}
						| {% endfor %}

						.buttons
							button.btn.btn-default.button-submit(type='submit')
								i.pi-check
								| Save Changes


| {% endblock %}
