{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <h2>Edit shot</h2>
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="{{url_for('shots.edit', shot_id=shot_id)}}">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }} 
          {{ form.name(size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.description.label }} 
          {{ form.description(size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.duration.label }} 
          {{ form.duration(size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.status_id.label }} 
          {{ form.status_id(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.notes.label }} 
          {{ form.notes(class='form-control') }}
        </div>
        <input class="btn btn-default" type="submit" value="Edit Shot">
        <div class="pull-right">
          <a class="btn btn-default" href="{{url_for('shots.index')}}">Cancel</a>
          <a class="btn btn-danger" href="{{url_for('shots.delete', shot_id=shot_id)}}">Delete</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
