{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="shots">
        <thead>
          <tr>
            <th>Shot Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Tasks</th>
            <th>Notes</th>
            <th width="8%"></th>
          </tr>
        </thead>
        <tbody>
        {% for shot in shots %}
            <tr id="row_{{shot['id']}}">
              <td><a href="{{url_for('shots.view', shot_id=shot['id'])}}">{{shot['name']}}</a></td>
              <td>
                {% if shot['description'] %}
                  {{shot['description']|truncate(25)}}
                {% endif %}
              </td>
              <td>{{shot['duration']}}</td>
              <td><span class="label label-default" style="background-color:<?php echo $shot['status_color'] ?>">{{shot['status']}}</span></td> 
              <td></td>
              <td>
                {% if shot['notes'] %}
                  {{shot['notes']|truncate(25)}}
                {% endif %}
              </td>
              <td>
                <a class="btn btn-default btn-xs" href="{{url_for('shots.edit', shot_id=shot['id'])}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
              </td>
            </tr>
        {% endfor %}
          
        </tbody>
        <tfoot>
          <tr>
            <th>Shot Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Tasks</th>
            <th>Notes</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{url_for('shots.add')}}" class="btn btn-default">Add</a>
    </div>
  </div>
</div>
{% endblock %}
