{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <h2>Add shot</h2>
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="{{url_for('shots.procedural')}}">
        {% for field in form %}
          {% if field.name == 'csrf_token' %}
            {{ field }}
          {% else %}
            {% if field.type == "HiddenField" %}
                {{ field }}
            {% else %}
              <div class="form-group">
                {{ field.label }} 
                {{ field(class='form-control') }}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <input class="btn btn-default" type="submit" value="Create Shot">
      </form>
    </div>
  </div>
</div>
{% endblock %}
