| {% set title = 'join' %}

| {% block body %}
.join-project(
	style="background-image: url({{ url_for('static', filename='assets/img/backgrounds/background_agent327_03.jpg')}})")

	.join-project__title
		span.icon
			i.pi-lock-open
		span.text Get Your Backstage Pass

	.join-project__lead.
		Subscribe, be part of the action and join us<br/> as we make the Agent 327 "Barbershop" scene.

	.join-project__summary
		p By becoming a Blender Cloud member, you will gain access to:
		ul
			li All the artwork being developed for the short
			li Animation tests and reviews
			li New versions of the film every week
			li Follow us closely via Attract, our project management software

		.join-project__summary-cta-container
			a.cta(href="https://store.blender.org/product/membership/")
				| Join Now
			a.cta-learn-more(href="https://cloud.blender.org/p/agent-327/about")
				| Learn more

	.join-project__summary
		p On top of that, you will get full Blender Cloud access to:

		ul
			li Exclusive production insight & walk-throughs
			li High-quality assets ready to use
			li All the open movies files & tutorials
			li 100+ hours of training
			li Blender Cloud add-on with texture browsing & Blender Sync
			li All of this and more for only USD 9.90/month!

		.join-project__summary-cta-container
			a.cta-learn-more(href="https://cloud.blender.org/services")
				| Blender Cloud Services

| {% endblock %}
