doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title {% if self.page_title() %}{% block page_title %}{% endblock %} — {% endif %}Pillar
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="theme-color", content="#3e92aa")

		| {% if config['GOOGLE_SITE_VERIFICATION'] %}
		meta(name="google-site-verification" content="{{ config['GOOGLE_SITE_VERIFICATION'] }}")
		| {% endif %}

		meta(property="og:site_name", content="")
		meta(property="og:locale", content="en_US")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="")

		| {% block og %}
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:type", content="")
		meta(property="og:image", content="")
		meta(property="og:description", content="")

		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		| {% endblock %}

		script(src="{{ url_for('static_pillar', filename='assets/js/tutti.min.js') }}")
		script.
			pillar.utils.initCurrentUser({{ current_user | json | safe }});
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.typeahead-0.11.1.min.js')}}")
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/js.cookie-2.0.3.min.js')}}")
		| {% if current_user.is_authenticated %}
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/clipboard.min.js')}}")
		| {% endif %}

		link(href="{{ url_for('static', filename='assets/img/favicon.png') }}", rel="shortcut icon")
		link(href="{{ url_for('static', filename='assets/img/apple-touch-icon-precomposed.png') }}", rel="icon apple-touch-icon-precomposed", sizes="192x192")

		| {% block head %}{% endblock %}

		| {% block css %}
		| {% if title == 'blog' %}
		link(href="{{ url_for('static_pillar', filename='assets/css/blog.css') }}", rel="stylesheet")
		| {% else %}
		link(href="{{ url_for('static_pillar', filename='assets/css/main.css') }}", rel="stylesheet")
		| {% endif %}
		| {% endblock %}


		| {% if not title %}{% set title="default" %}{% endif %}

	body(class="{{ title }}")
		.page-content
			.page-body
				| {% block body %}{% endblock %}

		| {% block footer_container %}
		#footer-container
			| {% block footer_navigation %}
			#footer-navigation
			| {% endblock footer_navigation %}

			| {% block footer %}
			footer.container
				#hop(title="Be awesome in space")
					i.pi-angle-up
			| {% endblock footer %}
		| {% endblock footer_container%}

		| {% if current_user.is_authenticated %}
		script(src="{{ url_for('static_pillar', filename='assets/js/vendor/jquery.typewatch-3.0.0.min.js') }}")
		script.
			// When sending an AJAX request, always add the X-CSRFToken header to it.
			var csrf_token = "{{ csrf_token() }}";
			$.ajaxSetup({
				beforeSend: function (xhr, settings) {
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				}
			});
		| {% endif %}

		| {% block footer_scripts_pre %}{% endblock %}
		| {% block footer_scripts %}{% endblock %}

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ config.GOOGLE_ANALYTICS_TRACKING_ID }} ', 'auto', {'allowAnchor': true});
			ga('send', 'pageview');
