| {% extends 'projects/edit_layout.html'  %}
| {% set title = 'edit_node_types' %}
| {% block page_title %}Node Types: {{ project.name }}{% endblock %}

| {% block project_context_header %}
span#project-edit-title
	| Edit Project Node Types
| {% endblock %}

| {% block project_context %}
#node-edit-container
	div(id="node-edit-form")
		h3 Node Types
		p.
			Nodes are all the items that can be found in a project.
			Everything is a node: a file, a folder, a comment. They are
			defined with custom properties and properly presented to you.
			When we add support for new node types in the future, it means we
			allow the creation of new items (such as textures).

		| {% if current_user.has_cap('edit-project-node-types') %}
		ul.list-generic
			| {% for node_type in project.node_types %}
			li
				a(href="{{ url_for('projects.edit_node_type', project_url=project.url, node_type_name=node_type.name) }}")
					| {{ node_type.name | undertitle }}
				.actions
					span {{ node_type.name }}
			| {% endfor %}
		| {% endif %}
| {% endblock %}
