| {% extends 'layout.html' %}

| {% set title = 'edit_node_types' %}

| {% block page_title %}Project {{ project.name }}{% endblock %}

| {% block body %}
.container.box
	form(
		method='POST',
		action="{{url_for('projects.edit_node_type', project_url=project.url, node_type_name=node_type['name'])}}")

		#blog_container.post-create

			| {% with errors = errors %}
			| {% if errors %}
			| {% for field in errors %}
			.alert.alert-danger(role='alert')
				strong {{field}}
				| 						{% for message in errors[field] %}
				| 								{{message}}|
				| 						{% endfor %}
			| 				{% endfor %}
			| 		{% endif %}
			| 		{% endwith %}

			#blog_index-sidebar
				.blog_project-sidebar
					input.btn.btn-default.button-create(type='submit', value="Update {{ node_type['name'] }}")
					a.btn.btn-default.button-back(href="{{ url_for('projects.view', project_url=project.url) }}")
						| Back to Project

			#blog_post-edit-container
				#blog_post-edit-title
					| Edit {{ node_type['name'] }}

				#blog_post-edit-form
					| {% for field in form %}
					| {% if field.name == 'csrf_token' %}
					| {{ field }}
					| {% else %}
					| {% if field.type == 'HiddenField' %}
					| {{ field }}
					| {% else %}
					.form-group(class="{{field.name}}{% if field.errors %} error{% endif %}")
						| {{ field.label }}
						| {{ field(class='form-control') }}

						| {% if field.errors %}
						ul.error
							| {% for error in field.errors %}
							li {{ error }}
							| {% endfor %}
						| {% endif %}

					| {% endif %}
					| {% endif %}
					| {% endfor %}

| {% endblock %}

| {% block footer_scripts%}
script(src="https://cdn.jsdelivr.net/g/ace@1.2.3(noconflict/ace.js+noconflict/mode-json.js)")

script.
	var dynSchemaEditorContainer = $("<div>", {id: "dyn_schema_editor"});
	$(".form-group.dyn_schema").before(dynSchemaEditorContainer);
	var dynSchemaEditor = ace.edit("dyn_schema_editor");
	dynSchemaEditor.getSession().setValue($("#dyn_schema").val());

	var formSchemaEditorContainer = $("<div>", {id: "form_schema_editor"});
	$(".form-group.form_schema").before(formSchemaEditorContainer);
	var formSchemaEditor = ace.edit("form_schema_editor");
	formSchemaEditor.getSession().setValue($("#form_schema").val());

	var permissionsEditorContainer = $("<div>", {id: "permissions_editor"});
	$(".form-group.permissions").before(permissionsEditorContainer);
	var permissionsEditor = ace.edit("permissions_editor");
	permissionsEditor.getSession().setValue($("#permissions").val());

	$("form").submit(function(e) {
		$("#dyn_schema").val(dynSchemaEditor.getSession().getValue());
		$("#form_schema").val(formSchemaEditor.getSession().getValue());
		$("#permissions").val(permissionsEditor.getSession().getValue());
	});
| {% endblock %}


