| {% extends 'layout.html' %}
| {% set title = 'home' %}

| {% block page_title %}
| {{current_user.full_name}}
| {% endblock %}

| {% block body %}
.p-5.text-center
	h2 Home Layout
	p.lead.
		See Blender Cloud for reference.

	| {% block currenttab %}{% endblock currenttab %}
| {% endblock %}
