| {% extends 'layout.html' %}
| {% block page_title %}{{ project.name }}{% endblock%}
| {% set title = 'project' %}

| {% block body %}
.p-5.text-center
	h2 Project View
	.lead.
		See Blender Cloud for reference.
| {% endblock %}
