body {
	padding-top: 50px;
}


.list-group {
	margin-top: 20px;
}

.panel .list-group {
	margin-top: 0;
}

.list-group.list-shots a.list-group-item {
	padding: 0;
}

.list-group-item img {
	width: 80px;
}

.stats-knobs div{
	text-align:center;
}

input.dial {
	box-shadow: none;
	transition: none;
	border-radius: auto;
	height: auto;
	cursor: default;
}

input.dial:focus {
	box-shadow: none;
}

.btn-group-cell .btn {
	/*width: 80px;*/
}

.btn-group-cell a.btn {
	/*text-align: left;*/
}

.btn-group-cell a.btn span{
	text-align: right;
}

.expanded-edit input[type="text"]{
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	width: 90%;
}

.expanded-edit textarea {
	width: 90%;
	height: 99px;
}


/* Edit shot page */

.row-task {
	margin-bottom: 10px;
}


/* Stats page */

.row.status-progress {
	margin-bottom: 10px;
	margin-top: 10px;
}

.progress-fix .progress-bar, .progress .progress-bar-fix {
    background-color: #D9534F;
}

.progress-final_1 .progress-bar, .progress .progress-bar-final_1 {
    background-color: #5CB85C;
}

.progress-info .progress-bar, .progress .progress-bar-info {
    background-color: #5BC0DE;
}

.progress-in_progress .progress-bar, .progress .progress-bar-in_progress {
    background-color: #F0AD4E;
}

#shots tbody {
	font-size: 12px;
}

#shots tbody td {
	padding: 3px 8px;
}

h3.stats-title {
	display: inline;
}

ul.files {
	list-style-type: none;
	margin: 0;
}

.file.active {
	background: #DDD;
}

tr.success .make-current {
	display: none;
}
