body.organizations
	#item-details
		.organization
			label
				display: block
				margin-top: 10px

		.input-group,
		textarea,
		input
			width: 100%

		input
			font-size: 1.1em

	.org-admin
		#admin-name
			padding: 10px 0

	.help-block
		font-size: 0.9em
		color: $color-text-dark-secondary
