section.node-preview-forbidden
	| {% if node.picture %}
	img(src="{{ node.picture.thumbnail('t', api=api) }}")
	| {% endif %}

	div
		p Available to Blender Cloud subscribers
		hr.bg-white
		| {% if current_user.has_cap('can-renew-subscription') %}
		p
			small You have a subscription, it just needs to be renewed.
		a.btn.btn-light(href="/renew")
			| #[i.pi-heart] Renew Subscription
		| {% else %}
		p
			small Support Blender and get awesome stuff!
		a.btn.btn-light(href="{{ url_for('cloud.join') }}")
			| #[i.pi-heart] Get a Subscription
		| {% endif %}

		| {% if current_user.is_anonymous %}
		p(style="margin-top: 15px")
			small
				a.text-white(href="{{ url_for('users.login') }}") Already a subscriber? Log in
		| {% endif %}
