| {% import 'nodes/custom/blog/_macros.html' as blogmacros %}

| {{ blogmacros.render_blog_post(node, project=project) }}

#comments-embed.comments-compact
	.comments-list-loading
		i.pi-spin

include ../_scripts
