| {% import 'nodes/custom/blog/_macros.html' as blogmacros %}

#blog_container(class="{% if project and project._id == config.MAIN_PROJECT_ID %}cloud-blog{% endif %}")

	#blog_post-container
		| {% if project and project._id == config.MAIN_PROJECT_ID %}
		a.btn.btn-default.button-back(href="{{ url_for('projects.view', project_url=project.url) }}blog")
			| Back to Blog

		| {% if node.has_method('PUT') %}
		a.btn.btn-default.button-edit(href="{{url_for('nodes.edit', node_id=node._id)}}")
			i.pi-edit
			| Edit Post
		| {% endif %}

		.clearfix
		| {% endif %}

		| {{ blogmacros.render_blog_post(node) }}

		#comments-embed
			.comments-list-loading
				i.pi-spin

include ../_scripts
