| {% block body %}

#node-container
	#node-overlay

	| {% if node.picture %}
	section#node-preview.node-preview.file
		img.node-preview-thumbnail#node-preview-thumbnail(
			src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}


	section.node-details-container.file

		.node-details-header
			.node-title#node-title
				| {{node.name}}

		| {% if node.description %}
		.node-details-description#node-description
			| {{node.description}}
		| {% endif %}

		include ../../_node_details

		#comments-embed
			#comments-list-items-loading
				i.pi-spin

include ../../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', location.pathname);

	var content_type = $("li.node-details-meta-list-item.type").text();
	var type_trimmed = content_type.substring(content_type.indexOf("/") + 1);

	if (type_trimmed == 'x-blender' || type_trimmed == 'blend'){
		type_trimmed = '<span class="blend"><i class="pi-blender-logo"></i></span>';
	};

	$("li.node-details-meta-list-item.type").html(type_trimmed);

	$('.sorry').click(function() {
		$.get('/403', function(data) {
			$('#node-overlay').html(data).addClass('active');
		})
	});

| {% endblock %}
