| {% block body %}

#node-container
	#node-overlay

	| {% if node.picture %}
	| {% if current_user.has_cap('subscriber') %}
	section#node-preview.node-preview.image.js-node-preview-image
		img.node-preview-thumbnail#node-preview-thumbnail(
			src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% else %}
	section#node-preview.node-preview.image.node-preview-blur
		img.node-preview-thumbnail#node-preview-thumbnail(
			src="{{ node.picture.thumbnail('t', api=api) }}")
	| {% endif %}
	| {% endif %}

	section.node-details-container
		include ../../_node_details

		#comments-embed
			.comments-list-loading
				i.pi-spin

include ../../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', location.pathname);

	var content_type = $("li.node-details-meta-list-item.type").text();
	$("li.node-details-meta-list-item.type").text(content_type.substring(content_type.indexOf("/") + 1));

	$('.sorry').click(function() {
		$.get('/403', function(data) {
			$('#node-overlay').html(data).addClass('active');
		})
	});

| {% endblock %}

