| {% extends 'layout.html' %}
| {% set title = 'organizations' %}
| {% block page_title %}Organizations{% endblock %}

| {% block body %}
.p-5.text-center
	h2 Organizations Index
	.lead.
		See Blender Cloud template for reference.
| {% endblock %}
