| {% extends 'nodes/custom/blog/index_main_project.html' %}
| {% import 'nodes/custom/blog/_macros.html' as blogmacros %}

| {% block body %}
.container.blog-archive
	#blog_container.cloud-blog
		#blog_index-container
			.blog_index-header
				h3.blog-archive-title
					| Blog Archive
			| {{ blogmacros.render_archive(project, posts, posts_meta) }}
| {% endblock %}
