#error-container(class="error-403")
	#error-box
		.error-top-container
			.error-title Forbidden.
			.error-lead
				p You don't have access to this content.

				| {% if current_user.is_authenticated %}
				| {% if current_user.has_role('demo') %}
				| {% set subscription = 'demo' %}
				| {% elif current_user.has_cap('subscriber') %}
				| {% set subscription = 'subscriber' %}
				| {% else %}
				| {% set subscription = 'none' %}
				| {% endif %}

				| {% if subscription == 'none' %}
				hr
				p
					| Support Blender and get awesome stuff.&nbsp;
					a(href="https://store.blender.org/product/membership/") Subscribe Now
				| {% endif %}

				| {% else %}
				p
					a(href="{{ url_for('users.login') }}") Login
				| {% endif %}

		.error-lead.extra
			| {% if current_user.is_authenticated %}
			p.
				If you have just subscribed, please <a href="{{ url_for('users.logout') }}">log out</a> and in again.
			| {% endif %}
			p.
				Need help? Get in touch via <a href="mailto:cloudsupport@blender.org">e-mail</a>.
