#error_container.500
	#error_box
		.error-top-container
			.error-title Something went wrong.
		.error-lead
			p.
				The error has been logged and we're working on getting it fixed.
			hr
			p.
				Looking for the Open Movies? Check out <a href="https://www.youtube.com/BlenderFoundation">Blender Foundation's YouTube</a> channel. <br/> Were you looking for tutorials instead? <a href="http://www.blender.org/support/tutorials/">blender.org</a> has a good selection.


		.error-lead.extra.
			We'll be back soon, in the meantime follow <a href="https://twitter.com/Blender_Cloud">@Blender_Cloud</a> for updates.
