doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title Error
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(href="{{ url_for('static_pillar', filename='assets/ico/favicon.png') }}", rel="shortcut icon")
		link(href="{{ url_for('static_pillar', filename='assets/ico/apple-touch-icon-precomposed.png') }}", rel="icon apple-touch-icon-precomposed", sizes="192x192")
		link(href="{{ url_for('static_pillar', filename='assets/css/font-pillar.css') }}", rel="stylesheet")
		link(href="{{ url_for('static_pillar', filename='assets/css/base.css') }}", rel="stylesheet")
		link(href='//fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet', type='text/css')

	body.error
		| {% block body %}{% endblock %}

