import os
class Config(object):
    # Configured for GMAIL
    MAIL_SERVER = ''
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = ''
    MAIL_PASSWORD = ''
    DEFAULT_MAIL_SENDER = ''

class Development(Config):
    FILE_STORAGE = '{0}/application/static/storage'.format(
        os.path.join(os.path.dirname(__file__)))
    CDN_USE_URL_SIGNING = False
    CDN_SERVICE_DOMAIN_PROTOCOL = 'https'
    CDN_SERVICE_DOMAIN = ''
    CDN_CONTENT_SUBFOLDER = ''
    CDN_URL_SIGNING_KEY = ''
    CDN_STORAGE_USER = ''
    CDN_STORAGE_ADDRESS = ''
