import os
class Config(object):
    # Configured for GMAIL
    MAIL_SERVER = ''
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = ''
    MAIL_PASSWORD = ''
    DEFAULT_MAIL_SENDER = ''
    RFC1123_DATE_FORMAT = '%a, %d %b %Y %H:%M:%S GMT'


class Development(Config):
    SCHEME = 'http'
    STORAGE_DIR = '{0}/application/static/storage'.format(
        os.path.join(os.path.dirname(__file__)))
    SHARED_DIR = '/storage/shared'
    USE_X_SENDFILE = False
    PORT = 5000
    HOST = '0.0.0.0'
    DEBUG = True
    CDN_USE_URL_SIGNING = False
    CDN_SERVICE_DOMAIN_PROTOCOL = 'https'
    CDN_SERVICE_DOMAIN = ''
    CDN_CONTENT_SUBFOLDER = ''
    CDN_URL_SIGNING_KEY = ''

    CDN_STORAGE_USER = ''
    CDN_STORAGE_ADDRESS = ''
    CDN_SYNC_LOGS = ''
    CDN_RSA_KEY = ''
    CDN_KNOWN_HOSTS = ''

    UPLOADS_LOCAL_STORAGE_THUMBNAILS = {
        's': {'size': (90, 90), 'crop': True},
        'b': {'size': (160, 160), 'crop': True},
        't': {'size': (160, 160), 'crop': False},
        'm': {'size': (320, 320), 'crop': False},
        'l': {'size': (1024, 1024), 'crop': False},
        'h': {'size': (2048, 2048), 'crop': False}
    }

    BIN_FFPROBE ='/usr/bin/ffprobe'
    BIN_FFMPEG = '/usr/bin/ffmpeg'
    BIN_SSH = '/usr/bin/ssh'
    BIN_RSYNC = '/usr/bin/rsync'


    GCS_CLIENT_EMAIL = ''
    GCS_PRIVATE_KEY_P12 = ''
    GCS_PRIVATE_KEY_PEM = ''
    CGS_PROJECT_NAME = ''

class Deployment(Development): pass
