| {% extends 'projects/landing.html' %}

| {% block body %}
| {% if node.picture %}
header
	img.header(src="{{ node.picture.thumbnail('h', api=api) }}")
| {% endif  %}
| {% block navbar_secondary %}
| {{ super() }}
| {% endblock navbar_secondary %}
#node-container
	#node-overlay

	section.node-details-container.page

		.node-details-header
			.node-title#node-title
				| {{node.name}}

		| {% if node.description %}
		.node-details-description#node-description
			| {{ node | markdowned('description') }}
		| {% endif %}

		.node-details-meta.footer
			span.updated(title="created {{ node._created | pretty_date }}") updated {{ node._updated | pretty_date }}

include ../_scripts

| {% endblock %}

| {% block footer_scripts %}
| {{ super() }}
script.
	// Push the correct URL onto the history. This push happens after the id has
	// been pushed to the history already. We should probably keep only this and
	// skip the project-level displayNode push.

	var url = '{{ node.properties.url }}'
	var replace_state = {nodeId: '{{node._id}}', url: url};
	window.history.replaceState(
		replace_state,
		'{{node.name}}',
		url
	);
	// Generate GA pageview
	$(document).ready(function () {
		ga('send', 'pageview', location.pathname);
	});

| {% endblock %}

