| {% block body %}

#node-container
	#node-overlay

	| {% if node.picture %}
	section#node-preview.node-preview.page
		img.node-preview-thumbnail#node-preview-thumbnail(
			src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}

	section.node-details-container.page

		.node-details-header
			.node-title#node-title
				| {{node.name}}

		| {% if node.description %}
		.node-details-description#node-description
			| {{node.description}}
		| {% endif %}

		.node-details-meta.footer
			span.updated(title="created {{ node._created | pretty_date }}") updated {{ node._updated | pretty_date }}

include ../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', location.pathname);
| {% endblock %}

