| {% extends 'projects/landing.html' %}
include ../../../mixins/components

| {% block body %}
.expand-image-links.imgs-fluid
	| {% if node.picture %}
	+jumbotron(
		"{{ node.name }}",
		"{{ node._created | pretty_date }}{% if node.user.full_name %} · {{ node.user.full_name }}{% endif %}",
		"{{ node.picture.thumbnail('h', api=api) }}",
		"{{ node.url }}")
	| {% endif %}

.container.pb-5
	.row
		.col-8.mx-auto
			h2.pt-5.text-center {{node.name}}

			| {% if node.description %}
			.node-details-description
				| {{ node | markdowned('description') }}
			| {% endif %}

			small.text-muted
				span(title="created {{ node._created | pretty_date }}") Updated {{ node._updated | pretty_date }}

include ../_scripts

| {% endblock %}

| {% block footer_scripts %}
| {{ super() }}
script.
	// Push the correct URL onto the history. This push happens after the id has
	// been pushed to the history already. We should probably keep only this and
	// skip the project-level displayNode push.

	var url = '{{ node.properties.url }}'
	var replace_state = {nodeId: '{{node._id}}', url: url};
	window.history.replaceState(
		replace_state,
		'{{node.name}}',
		url
	);
	// Generate GA pageview
	$(document).ready(function () {
		ga('send', 'pageview', location.pathname);
	});

| {% endblock %}

