| {% extends 'projects/landing.html' %}

| {% block body %}

| {% if node.picture %}
header
	.jumbotron.jumbotron-fluid(
		style="background-image: url('{{ node.picture.thumbnail('h', api=api) }}'); background-position: 50% 50%;")
| {% endif  %}

| {# Secondary Navigation #}
| {% block navbar_secondary %}
| {{ super() }}
| {% endblock navbar_secondary %}

.container.landing
	section.node-details-container.project
		.node-details-title.container
			h1 {{node.name}}

			| {% if node.description %}
			| {{ node | markdowned('description') }}
			| {% endif %}

		.node-details-meta.footer
			span.updated(title="created {{ node._created | pretty_date }}") updated {{ node._updated | pretty_date }}

include ../_scripts

| {% endblock %}

| {% block footer_scripts %}
| {{ super() }}
script.
	// Push the correct URL onto the history. This push happens after the id has
	// been pushed to the history already. We should probably keep only this and
	// skip the project-level displayNode push.

	var url = '{{ node.properties.url }}'
	var replace_state = {nodeId: '{{node._id}}', url: url};
	window.history.replaceState(
		replace_state,
		'{{node.name}}',
		url
	);
	// Generate GA pageview
	$(document).ready(function () {
		ga('send', 'pageview', location.pathname);
	});

| {% endblock %}

